  @charset "UTF-8;"
  body{
            background-color: rgb(3, 100, 16);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }
        h1{
            color: rgb(8, 8, 250);
            background-color: rgb(113, 248, 248);
        }
        h2{
            color: dodgerblue;
        }
        p{
            text-align: justify;
        }